@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Ramaraja&family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/circular-std-medium-500.ttf") format("truetype");
}

body {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

/* Header */
.medi-header {
  display: inline-flex;
}

.medi-header-logo {
  margin-top: 37px;
  margin-left: 80px;
  font-family: "Circular Std", sans-serif;
  color: #0a1b32;
  font-size: 30px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.6px;
}

.medi-header-logo span {
  color: #824ff1;
}

.medi-header-nav {
  margin-top: 48px;
  margin-left: 97.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 38px;
  align-items: center;
  list-style-type: none;
}

.medi-header-nav-item {
  font-family: "Roboto", sans-serif;
}

.medi-header-nav-item a {
  color: #1b0a42;
  text-decoration: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.medi-header-signin {
  margin-left: 752px;
  margin-top: 48px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.medi-header-signin a {
  color: #1b0a42;
  text-decoration: none;
}

.medi-header-signup-btn {
  height: 60px;
  width: 120px;
  margin-left: 40.3px;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.32px;
  border-radius: 6px;
  border-style: none;
  background: #824ff1;
}
/*End Header*/

/*Main Content*/
.medi-main {
  margin-left: 200px;
  margin-top: 100px;
  display: inline-flex;
}

.medi-main-title {
  width: 600px;
  height: 152px;
  color: #1b0a42;
  font-family: "Ramaraja", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 76px; /* 105.556% */
  letter-spacing: 1.44px;
  margin: 0;
}

.medi-main-content {
  width: 600px;
  height: 96px;
  color: #9a9a9a;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.4px;
  margin: 10px 0px 0px 0px;
}

.medi-main-learn-btn {
  width: 152px;
  height: 64px;
  border-radius: 6px;
  border-style: none;
  background: #824ff1;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  letter-spacing: 0.32px;
  margin: 50px 0px 0px 0px;
}

.medi-main-img img {
    margin-left: 100px;
    width: 601px;
    height: auto;
}
/*End Main Content*/
